/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Jul-2019, 23:22:32
    Author     : Edgaras
*/

.login-button{
    -fx-font-size: 20px;
    -fx-background-color: powderblue;
    -fx-border-color: black;
}

.vBox-credentials{
    -fx-font-size: 20px;
}

.vBox-login{
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-background-color: ghostwhite;
}

